/*
 *  common
 */
.core-pointer {
    cursor: pointer;
}
.core-display-block {
    display: block;
}
.core-display-none {
    display: none;
}

/*
 *  splash screen
 */
.splash-container {
    z-index: 15; /* Sit on top */
    left: 0;
    top: 0;

    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Stay in place */

    /* display: none; */
    overflow: auto; /* Enable scroll if needed */

    background-color: aliceblue;
}
.splash-inner-container {
    width: 600px;
    /*
    height: 600px;
    line-height: 600px;
    vertical-align: middle;
    */
    text-align: center;
    margin: auto;
}
.splash-caption {
    /*font-family: "Comic Sans MS";*/
    font-size: 2.0em;
}
.splash-progress-container {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    background-color: azure;
}
.splash-progress-bar {
    width: 1%;
    height: 30px;
    background-color: deepskyblue;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.btn-xsm {
    padding:.15rem .5rem;
    font-size:.55em;
    background-color:#fff;
    border:1px solid;
}

.nav-box {
    padding-left: 1em;
}

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.collapse .form-check {
    margin-left: 1.5rem;
}

.sidebar .btn::before, tbody .btn-invis::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}

@media (prefers-reduced-motion: reduce) {
    .sidebar .btn::before, tbody .btn-invis::before  {
        transition: none;
    }
}
.sidebar .btn[aria-expanded="true"], tbody .btn-invis[aria-expanded="true"]  {
    color: rgba(0, 0, 0, 0.85);
}
.sidebar .btn[aria-expanded="true"]::before, tbody .btn-invis[aria-expanded="true"]::before  {
    transform: rotate(90deg);
}

.btn-invis {
    padding:.05rem .15rem;
    font-size:.55em;
}

.table .infopanel {
    border: 2px #007bff;
    padding: 0px;
    background-color: lightblue;
}

.w-80 {
    width:120px;
}
.w-160 {
    width:180px;
}

.searchinput {
    border: 0px;
    /*width: 90%;*/
    height: 48px;
    font-size: 24px;
}

.fileSection {
    display:block;
    background-color: #727272;
    overflow-y:auto;
    height:150px;
}
